body {
    background-color: pink;
}

#contenedor {
    display: flex;
    height: 100px;
    border : 1px solid red;
    align-items: center;
    background-color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4)
    /*
        box-shadow: X Y [blur] [spread] [color] [tipo] 


        flex-direction : row;
        flex-wrap: wrap;

        flex-flow : row wrap;
        flex-flow : <direction> <wrap>
    */
}

.hijo {
    border : 1px solid;
    }

#dos {
    order : 2;
    flex-grow: 1;
}

#contenedor div:nth-child(2){
    background-color: aliceblue;
}

#contenedor div:nth-child(2):hover{
    background-color: black;
    color : white;
}
/*
PSEUDO-CLASES : Son selectores adicionales que se aplican sobre un selector normal para denotar algun comportamiento o espacio reducido de ese elemento

sintaxis : selector:pseudoclase {}

pseudo-elementos

selector:first-child = El primer hijo del selector 
selector:last-child = El ultimo hijo del selector
selector:nth-child(N) = De todos los elementos que coinciden con el selector , el que esta esta en la posicion N 

#contenedor:nth-child(2)



pseudo-selectores 

elemento:hover = Cuando el cursor esta encima del elemento


RESPONSIVE DESIGN : Es la capacidad de CSS para maquetar una pagina de forma tal que se adapte condicionalmente al dispositivo

@media <dispositivo> [condiciones] {}

https://www.w3schools.com/css/css3_mediaqueries.asp

https://www.w3schools.com/cssref/css3_pr_mediaquery.asp
*/

